<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Favicon -->
    <link rel="icon" href="/images/victoria_m.jpg" type="image/x-icon" />
  
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <title>Bits && Scribbles - Home</title>
  </head>

  <body>
   
    <%-include('./partials/header.ejs')%>
      
       <section class="hero" >
        <h1> Bits && Scribbles</h1>
      </section>
      <div class="latest-posts">
        <h3>Latest Posts</h3>
      </div>

      <section class="posts-carousel">
        <% if (posts && posts.length > 0) { %>
          <% posts.forEach(post => { %>
            <article class="post-card">
              <a href="/api/v1/posts/<%= post._id %>" class="post-read-more">
                <img src="<%= post.image %>" alt="Post image" class="post-image" />
              </a>
              <div class="post-details">
                <h2 class="post-title">🔗<%= post.title %></h2>
                <p class="post-date"><%= post.createdAt.toLocaleDateString() %></p>
                <!-- <p class="post-body"><%- truncatePost(post.description) %></p> -->
                <p class="post-category"><span><%= post.category %></span></p>
              </div>
            </article>
          <% }) %>
        <% } else { %>
          <p>No posts available.</p>
        <% } %>
      </section>
      
     
        <%-include('./partials/footer.ejs')%>
    </div>
  </body>
</html>

