

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <title>Home</title>
  </head>

  <body>
   
    <%-include('./partials/header.ejs')%>
      
       <section class="hero" >
        <h1> Bits and Scribbles</h1>
      </section>
      <h3 class="latest-posts">Latest posts</h3>
        <section class="posts-hero">
          <% if (posts && posts.length > 0) { %> 
            <% posts.forEach(post => { %>
          <article class="post-content">
            <img src="<%= post.image %>" alt="post image" class="post-image" />
            <p class="post-info">
              <div class="post-date">
                <span id="date">
                  <%= post.createdAt.toLocaleDateString() %>
                </span>
              </div>
              
            </p>
            <a href="/api/v1/posts/<%= post._id %>" class="post-read-more">
              <h1 class="post-title">🔗<%= post.title %></h1>
            </a>
            <p class="post-body"><%-truncatePost(post.description)%></p>

            <!-- Category Badge -->
            <div class="post-category">
              <span><%= post.category %></span>
            </div>
            <!-- <a href="/api/v1/posts/<%= post._id %>" class="post-read-more"
              >Continue Reading...</a
            > -->
          </article>
          
          <% }) %> <% } else { %>
          <p>No posts available.</p>
          <% } %>
        </section>
     
        <%-include('./partials/footer.ejs')%>
    </div>
  </body>
</html>

