<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog</title>
  </head>
  <body>
    <!-- Navigation Bar (sidebar) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main Section with Flex Container for Posts -->
    <main>
      <form method="GET" action="/api/v1/posts">
        <select id="category" name="category" onchange="this.form.submit()">
          <option value="/">All</option>
          <option value="Dev Diaries">Dev Diaries</option>
          <option value="Creative Zone">Creative Zone</option>
          <option value="CSS">CSS</option>
          <option value="HTML">HTML</option>
          <option value="Node JS">Node JS</option>
          <option value="Javascript">Javascript</option>
          <option value="Books">Books</option>
          <option value="Other">Other</option>

          <!-- Add more categories as needed -->
        </select>
      </form>

      <section class="posts-grid">
        <% if (posts && posts.length > 0) { %> <% posts.forEach(post => { %>
        <article class="post-content">
          <img src="<%= post.image %>" alt="post image" class="post-image" />
          <p class="post-info">
            <span class="post-date">
              <%= post.createdAt.toLocaleDateString() %>
            </span>
          </p>
          <a href="/api/v1/posts/<%= post._id %>" class="post-read-more">
            <h1 class="post-title">🔗<%= post.title %></h1>
          </a>
          <p class="post-body">
            <%- post.description.length > 100 ? post.description.substring(0,
            100) + "..." : post.description %>
          </p>
          <div class="post-category">
            <span><%= post.category %></span>
          </div>
        </article>
        <% }) %> <% } else { %>
        <p>No posts available for this category.</p>
        <% } %>
      </section>
    </main>
  </body>
</html>
