<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" href="/images/victoria_m.jpg" type="image/x-icon" />
  
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/allPosts.css" />

    <title> My Blog ✍🏼</title>
  </head>
  <body>
    <!-- Navigation Bar (sidebar) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main Section with Flex Container for Posts -->
    <main>
      <form class="filter-form" method="GET" action="/api/v1/posts">
        <select id="category" name="category" onchange="this.form.submit()">
          <option value="" <%= !category ? 'selected' : '' %>>All</option>
          <option value="Dev Diaries" <%= category === 'Dev Diaries' ? 'selected' : '' %>>Dev Diaries</option>
          <option value="Creative Zone" <%= category === 'Creative Zone' ? 'selected' : '' %>>Creative Zone</option>
          <option value="Books" <%= category === 'Books' ? 'selected' : '' %>>Books</option>
          <option value="Jurnal creștin" <%= category === 'Jurnal creștin' ? 'selected' : '' %>>Jurnal creștin</option>
        </select>
      </form>
      
      

      <section class="posts-carousel">
        <% if (posts && posts.length > 0) { %>
          <% posts.forEach(post => { %>
            <article class="post-card">
              <a href="/api/v1/posts/<%= post._id %>" class="post-read-more">
                <img src="<%= post.image %>" alt="Post image" class="post-image" />
              </a>
              <div class="post-details">
                <h2 class="post-title"><%= post.title %></h2>
                <p class="post-category"><%= post.category %></p>
              </div>
            </article>
          <% }) %>
        <% } else { %>
          <p>No posts available for this category.</p>
        <% } %>
      </section>
      
      
    </main>
    <a href="/" class="back-button"><span>Back</span></a>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
