<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/postDetails.css" />

    <title>Post Details</title>
  </head>
  <body>
    <!-- Fixed Nav Bar -->
    <%- include("../partials/header.ejs") %>

    <div class="container">
      <!-- Main Post Content -->
      <main class="posts">
        <article class="post-content">
          <img src="<%= post.image %>" alt="Post image" class="post-image" />
          <h1 class="post-title"><%= post.title %></h1>
          <p class="post-info">
            <span class="post-date"
              ><%= post.createdAt.toLocaleDateString() %></span
            >
          </p>
          <p class="post-body"><%- post.description %></p>
        </article>
        <!-- Only show buttons if the logged-in user created the post -->
        <% if (post.user && post.user._id && userAuth &&
        post.user._id.toString() === userAuth.toString()) { %>
        <form
          action="/api/v1/posts/<%= post._id %>?_method=DELETE"
          method="post"
        >
          <button>Delete</button>
        </form>
        <a href="/api/v1/posts/updatePost/<%= post._id %>"
          ><button>Update</button></a
        >
        <% } %>
      </main>

      <!-- Related Posts Section -->
      <section class="related-posts">
        <% if (relatedPosts && relatedPosts.length > 0) { %> <%
        relatedPosts.forEach(function(relatedPost) { %>
        <article class="related-post-content">
          <a href="/api/v1/posts/<%= relatedPost._id %>" class="post-read-more">
            <img
              src="<%= relatedPost.image %>"
              alt="Related post image"
              class="post-image"
          /></a>
          <a href="/api/v1/posts/<%= relatedPost._id %>" class="post-read-more"
            ><h3><%= relatedPost.title %></h3></a
          >
          <!-- <a href="/api/v1/posts/<%= relatedPost._id %>" class="post-read-more"
            >Read</a
          > -->
        </article>
        <% }); %> <% } else { %>
        <p>No related posts available in this category.</p>
        <% } %>
      </section>
    </div>
  </body>
</html>
